span{
  font-size: x-large;
  font-family: Courier New, monospace;
  margin: 5px;
  border-radius: 10px;
  border-style: groove;
  padding: 5px;
  color: azure;
  background-color: rgba(250, 250, 250, 0.31);
}

button{
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
}



