<div class="xInput">
  <div class="amazing-checkbox" *ngFor="let x of AVAILABLE_X">
    <label>
      <p-checkbox name="X" value="{{x}}" [(ngModel)]="selectedX" inputId="{{x}}"></p-checkbox>
      <span>{{x}}</span>
    </label>
  </div>
</div>
Selected Xs: <span *ngFor="let x of selectedX" style="margin-right:10px">{{x}}</span>
<br>
<div class="yInput">
  <input
    type="text" placeholder="-5...3"
    [(ngModel)]="selectedY"
    pInputText pKeyFilter="num"
  />
</div>
<br>
<div class="rInput">
  <div class="amazing-checkbox" *ngFor="let r of AVAILABLE_R">
    <label>
      <p-checkbox name="R" value="{{r}}" [(ngModel)]="selectedR" inputId="{{r}}" #selectR (onChange)="changeR(selectR.value)" [checkboxIcon]=""></p-checkbox>
      <span>{{r}}</span>
    </label>
  </div>
</div>
Selected Rs: <span *ngFor="let r of selectedR" style="margin-right:10px">{{r}}</span>
<br>
<p-button label="Полетели!" type="button" class="btn-primary" (onClick)="submitDot()"></p-button>
<br>

