*{
  font-family: Courier New, monospace;
}
.amazing-checkbox {
  display: inline-block;
  border: medium dotted azure;
  position: relative;
  margin: 4px;
  border-radius: 15px;
  cursor: pointer;
}

.amazing-checkbox > label{
  display: inline-block;
}

.amazing-checkbox > label > p-checkbox {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.amazing-checkbox > label > span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  line-height: 25px;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
}

::ng-deep .amazing-checkbox > .ui-chkbx-box .ui-state-active {
  background: url('../../assets/img/paws/white-paw.png') center/contain no-repeat;
}

::ng-deep .amazing-checkbox > .ui-chkbx-box:checked {
  background: url('../../assets/img/paws/white-paw.png') center/contain no-repeat;
}

.amazing-checkbox > .ui-state-active {
  background: url('../../assets/img/paws/white-paw.png') center/contain no-repeat;
}

::ng-deep .amazing-checkbox .ui-state-active{
  background-color: #34b3b3;
}

input{
  font-size: large;
  font-family: Courier New, monospace;
  /*margin: 5px;*/
  border-radius: 10px;
  border-style: groove;
  padding: 5px;
  color: azure;
  background-color: rgba(48, 48, 48, 0.87);
}

::ng-deep .btn-primary .ui-button  {
  /*height: 37px;*/
  /*width: 108px;*/
  border-radius: 10px!important;
  padding: 5px;
  margin: 5px;
  /*border: 2px solid cadetblue;*/
  outline: none;
  /*background: linear-gradient(to bottom, #74d6d6, #34b3b3)!important;*/
  color: azure;
  background: rgba(48, 48, 48, 0.65);
  font-family: Courier New, monospace;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

::ng-deep .btn-primary .ui-button:hover {
  border-color: #191919;
}


