<p-table [columns]="cols" [value]="dots">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.data">
        {{col.header}}
        <p-sortIcon [field]="col.data"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-dot >
    <tr>
      <td>{{dot.x}}</td>
      <td>{{dot.y}}</td>
      <td>{{dot.r}}</td>
      <td>{{dot.result ? 'котик долетел' : 'котик дрейфует в бесконечной пустоте космоса'}}</td>
      <td>{{dot.time | date:'medium'}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-cols>
    <tr>
      <td [attr.colspan]="5">
        Не было произведено ни одного запуска
      </td>
    </tr>
  </ng-template>
</p-table>
