.login {
  font-family: Courier New, monospace;
  font-size: large;
  margin-right: auto;
  margin-left: auto;
  display: table;
  /*width: 40%;*/

}

.form {


  /*width: 35%;*/
}

input {
  font-size: large;
  font-family: Courier New, monospace;
  /*margin: 5px;*/
  border-radius: 10px;
  border-style: groove;
  padding: 5px;
  color: #000000;
  /*width: 40%;*/
}

.btn-primary {
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  border: 2px solid #fafafa;
  outline: none;
  color: azure;
  background: rgba(48, 48, 48, 0.65);
  font-family: Courier New, monospace;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.btn-primary:hover {
  border-color: #191919;
  background: rgba(48, 48, 48, 0.85);
}

.main {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

@media (min-width: 1105px) {

}

.cats {
  margin-left: auto;
  margin-right: auto;
  display: block
}

.info {
  display: none;
  font-size: xx-large;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #191919;
  background-color: rgba(8, 8, 8, 0.65);
  border-radius: 20px;
  margin: 10px;
}

.info > span {
  margin: 5px;
  display: inline-block;
}

.cats:hover + .info {
  display: block;
}

@media (max-width: 1104px) {
  .cats {
    width: -moz-available;
    width: -webkit-fill-available;
  }
}
