td, th {
    font-size: large;
    font-family: Courier New;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.33);
    text-align: center;
    border-radius: 7px;
}

th {
    font-size: larger;
    background-color: rgba(39, 39, 39, 0.55);
}

tr:nth-child(odd) {
    background-color: rgba(175, 175, 175, 0.40)
}


/*#point-history-card {*/
/*  width: 80%;*/
/*  letter-spacing: 3px;*/
/*  padding: 10px;*/
/*  margin-top: 80px;*/
/*  margin-bottom: 50px;*/
/*}*/

/*#point-history-card th, #point-history-card td{*/
/*  text-align: center;*/
/*  width: 25%*/
/*}*/

/*#point-history-card tr{*/
/*  height: 32px;*/
/*}*/

/*button{*/
/*  height: 30px;*/
/*  width: 120px;*/
/*}*/

/*.last-cell {*/
/*  padding-right: 10px;*/
/*}*/
