.current-user > span {
  font-size: larger;
  font-family: Courier New;
  margin: 5px;
  border-radius: 10px;
  border-style: groove;
  padding: 5px;
  color: azure;
  background-color: rgba(250, 250, 250, 0.31);
}

    .request-form{
        margin-bottom: auto;
        margin-top: auto;
    }
    @media (min-width: 1105px){
        .canvas-form {
            display: flex;
        }
    }

.home, .canvas, .request-form, .table-view {
    margin-left:auto;
    margin-right:auto;
    display: table;
}


@media (max-width:1104px){

}

@media (max-width: 790px) {
    .canvas-form, .table-view{
        margin-right: auto;
        margin-left: auto;
        display: grid;
    }
}

