*{
  font-family: Courier New, monospace;
}

.rInput, .xInput, .yInput, .btn-cntnr
{
  margin-left: auto;
  margin-right: auto;
  display: table;
}


.amazing-checkbox {
  display: inline-block;
  border: medium dotted azure;
  position: relative;
  margin: 4px;
  border-radius: 15px;
  cursor: pointer;
}

.amazing-checkbox > label {
  display: contents;
  cursor: pointer;
}

.amazing-checkbox > label > p-checkbox {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.amazing-checkbox > label > span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  line-height: 25px;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
}

.checked {
  background: url('../../../assets/img/paws/white-paw.png') center/contain no-repeat;
  color: #080808;
}


input{
  font-size: large;
  font-family: Courier New, monospace;
  /*margin: 5px;*/
  border-radius: 10px;
  border-style: groove;
  padding: 5px;
  color: azure;
  background-color: rgba(48, 48, 48, 0.87);
}

.btn-cntnr > .btn-primary .ui-button {
  /*height: 37px;*/
  /*width: 108px;*/
  border-radius: 10px !important;
  padding: 5px;
  /*border: 2px solid cadetblue;*/
  outline: none;
  color: azure;
  background: rgba(48, 48, 48, 0.65);
  font-family: Courier New, monospace;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.btn-primary .ui-button:hover {
  background: rgba(48, 48, 48, 0.94);
  /*border-color: #191919;*/
}

.btn-primary {
  color: azure;
  background: rgba(48, 48, 48, 0.65);
  border-color: rgba(0, 123, 255, 0);
}


canvas {
  background-image: url("../../../assets/img/backgrounds/black.jpg");
}


.request-form {
  margin-bottom: auto;
  margin-top: auto;
}

@media (min-width: 1105px) {
  .canvas-form {
    display: flex;
  }
}

.home, .canvas-form, .request-form, .table-view {
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}


@media (max-width: 1104px) {
  .canvas-form {
    margin-right: auto;
    margin-left: auto;
    display: grid;
  }
}

@media (max-width: 790px) {
  .canvas-form {
    margin-right: auto;
    margin-left: auto;
    display: grid;
  }
}

